@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<header class="bg-light text-dark text-center">
    <h1 class="text-uppercase text-center text-secondary">Login</h1>
    <div class="container-fluid col-md-3 w-75 align-items-md-center flex-column">

        <form class="mx-auto input-width" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input type="text" class="form-control" asp-for="Input.Username" placeholder="Username...">
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password...">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center">
                <button type="submit" class="btn btn-danger">Login</button>
            </div>
            <br />
        </form>
    </div>

    <div class="container col-md-12 w-75 align-items-md-center flex-column">
        <h3 class="text-dark text-uppercase mb-0">
            Don't have an account? <a class="btn-outline-secondary text-danger" href="/Identity/Account/Register">/Register</a>.
        </h3>
    </div>

    <!-- Icon Divider -->
    @*<div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>*@

</header>
@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
