@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center">
    <h1>Cannot find user with this username!</h1>

    <a asp-controller="Home" asp-action="Index">Go back</a>
</div>