@using MyForum.Web.Models.Threads
@model ThreadsCreateViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid text-center w-25 mx-auto">
    <h1>Create new thread</h1>   
    <hr /> 
    <form asp-controller="Threads" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Name..." />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <br />
        <hr />        
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Create</button>
        </div>
    </form>
</div>